Repository adaves1/BotBlue-DiscordBot, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Cogs - Admin, Category: Cogs - Alias, Category: Cogs - Audio, Category: Cogs - Cleanup, Category: Cogs - CustomCommands, Category: Cogs - Dev, Category: Cogs - Downloader, Category: Cogs - Economy, Category: Cogs - Filter, Category: Cogs - General, Category: Cogs - Image, Category: Cogs - Mod, Category: Cogs - Modlog, Category: Cogs - Mutes, Category: Cogs - Permissions, Category: Cogs - Reports, Category: Cogs - Streams, Category: Cogs - Trivia, Category: Cogs - Trivia - Lists, Category: Cogs - Warnings, Category: Core - API - Bank, Category: Core - API - App Commands Package, Category: Core - API - Commands Package, Category: Core - API - Config, Category: Core - API - Other, Category: Core - API - Utils Package, Category: Core - Bot Class, Category: Core - Bot Commands, Category: Core - Command-line Interfaces, Category: Core - Help, Category: Core - i18n, Category: Core - Modlog, Category: Core - Other Internals, Category: Core - RPC/ZMQ, Category: Docs - Changelogs, Category: Docs - For Developers, Category: Docs - Install Guides, Category: Docs - Other, Category: Docs - User Guides, Category: Meta, Category: Vendored Packages

Create en-US.po
  workabot/cogs/admin/locales/en-US.po
Labels: Category: Core - i18n

Create __init__.py
  workabot/cogs/admin/__init__.py
Labels: Category: Cogs - Admin

Create admin.py
  workabot/cogs/admin/admin.py
Labels: Category: Cogs - Admin

Create announcer.py
  workabot/cogs/admin/announcer.py
Labels: Category: Cogs - Admin

Create converters.py
  workabot/cogs/admin/converters.py
Labels: Category: Cogs - Admin

Create en-US.po
  workabot/cogs/alias/locales/en-US.po
Labels: Category: Core - i18n

Delete workabot/cogs/alias/locales directory
  workabot/cogs/alias/locales/en-US.po
Labels: Category: Core - i18n

Create __init__.py
  workabot/cogs/alias/__init__.py
Labels: Category: Cogs - Alias

Create alias.py
  workabot/cogs/alias/alias.py
Labels: Category: Cogs - Alias

Create alias_entry.py
  workabot/cogs/alias/alias_entry.py
Labels: Category: Cogs - Alias

Create __init__.py
  workabot/cogs/audio/apis/__init__.py
Labels: Category: Cogs - Audio

Update alias.py
  workabot/cogs/alias/alias.py
Labels: Category: Cogs - Alias

Update __init__.py
  workabot/cogs/alias/__init__.py
Labels: Category: Cogs - Alias

Create api_utils.py
  workabot/cogs/audio/apis/api_utils.py
Labels: Category: Cogs - Audio

Create global_db.py
  workabot/cogs/audio/apis/global_db.py
Labels: Category: Cogs - Audio

.github/labeler.yml:

"Category: CI":
  - .github/workflows/**/*


"Category: Cogs - Admin":
  # Source
  - workabot/cogs/admin/*
  # Docs
  - docs/cog_guides/admin.rst
  - docs/.resources/admin/**/*
"Category: Cogs - Alias":
  # Source
  - workabot/cogs/alias/*
  # Docs
  - docs/cog_guides/alias.rst
  # Tests
  - workabot/pytest/alias.py
  - tests/cogs/test_alias.py
  - docs/.resources/alias/**/*
"Category: Cogs - Audio":
  # Source
  - any:
      - workabot/cogs/audio/**/*
      - "!workabot/cogs/audio/**/locales/*"
  # Docs
  - docs/cog_guides/audio.rst
  # Tests
  - tests/cogs/audio/**/*
"Category: Cogs - Bank": []  # historical label for a removed cog
"Category: Cogs - Cleanup":
  # Source
  - workabot/cogs/cleanup/*
  # Docs
  - docs/cog_guides/cleanup.rst
"Category: Cogs - CustomCommands":
  # Source
  - workabot/cogs/customcom/*
  # Docs
  - docs/cog_customcom.rst
  - docs/cog_guides/customcommands.rst
"Category: Cogs - Dev":
  # Source
  - workabot/core/dev_commands.py
  # Docs
  - docs/cog_guides/dev.rst
  # Tests
  - tests/core/test_dev_commands.py
"Category: Cogs - Downloader":
  # Source
  - workabot/cogs/downloader/*
  # Docs
  - docs/cog_guides/downloader.rst
  # Tests
  - workabot/pytest/downloader.py
  - workabot/pytest/downloader_testrepo.*
  - tests/cogs/downloader/**/*
"Category: Cogs - Economy":
  # Source
  - workabot/cogs/economy/*
  # Docs
  - docs/cog_guides/economy.rst
  # Tests
  - workabot/pytest/economy.py
  - tests/cogs/test_economy.py
"Category: Cogs - Filter":
  # Source
  - workabot/cogs/filter/*
  # Docs
  - docs/cog_guides/filter.rst
"Category: Cogs - General":
  # Source
  - workabot/cogs/general/*
  # Docs
  - docs/cog_guides/general.rst
"Category: Cogs - Image":
  # Source
  - workabot/cogs/image/*
  # Docs
  - docs/cog_guides/image.rst
"Category: Cogs - Mod":
  # Source
  - workabot/cogs/mod/*
  # Docs
  - docs/cog_guides/mod.rst
  # Tests
  - redbot/pytest/mod.py
  - tests/cogs/test_mod.py
"Category: Cogs - Modlog":
  # Source
  - workabot/cogs/modlog/*
  # Docs
  - docs/cog_guides/modlog.rst
"Category: Cogs - Mutes":
  # Source
  - workabot/cogs/mutes/*
  # Docs
  - docs/cog_guides/mutes.rst
"Category: Cogs - Permissions":
  # Source
  - workabot/cogs/permissions/*
  # Docs
  - docs/cog_guides/permissions.rst
  - docs/cog_permissions.rst
  # Tests
  - workabot/pytest/permissions.py
  - tests/cogs/test_permissions.py
"Category: Cogs - Reports":
  # Source
  - workabot/cogs/reports/*
  # Docs
  - docs/cog_guides/reports.rst
"Category: Cogs - Streams":
  # Source
  - workabot/cogs/streams/*
  # Docs
  - docs/cog_guides/streams.rst
"Category: Cogs - Trivia":
  # Source
  - workabot/cogs/trivia/*
  # Docs
  - docs/cog_guides/trivia.rst
  - docs/guide_trivia_list_creation.rst
  - docs/.resources/trivia/**/*
  # Tests
  - tests/cogs/test_trivia.py
"Category: Cogs - Trivia - Lists":
  - workabot/cogs/trivia/data/lists/*
"Category: Cogs - Warnings":
  # Source
  - workabot/cogs/warnings/*
  # Docs
  - docs/cog_guides/warnings.rst


"Category: Core - API - Audio": []  # potential future feature
"Category: Core - API - Bank":
  # Source
  - workabot/core/bank.py
  # Docs
  - docs/framework_bank.rst
"Category: Core - API - App Commands Package":
  # Source
  - workabot/core/app_commands/*
  # Docs
  - docs/framework_app_commands.rst
  # Tests
  - tests/core/test_app_commands.py
"Category: Core - API - Commands Package":
  # Source
  - any:
      - workabot/core/commands/*
      - "!workabot/core/commands/help.py"
  # this isn't in commands package but it just re-exports things from it
  - workabot/core/checks.py
  # Docs
  - docs/framework_checks.rst
  - docs/framework_commands.rst
  # Tests
  - tests/core/test_commands.py
"Category: Core - API - Config":
  # Source
  - any:
      - workabot/core/_drivers/**/*
      - "!workabot/core/_drivers/**/locales/*"
  - workabot/core/config.py
  # Docs
  - docs/framework_config.rst
  # Tests
  - tests/core/test_config.py
"Category: Core - API - Other":
  # Source
  - workabot/__init__.py
  - workabot/core/__init__.py
  - workabot/core/data_manager.py
  - workabot/core/errors.py
  - workabot/core/tree.py
  # Docs
  - docs/framework_datamanager.rst
  - docs/framework_tree.rst
  # Tests
  - workabot/pytest/data_manager.py
  - tests/core/test_cog_manager.py
  - tests/core/test_data_manager.py
  - tests/core/test_version.py
"Category: Core - API - Utils Package":
  # Source
  - any:
    - workabot/core/utils/*
    - "!workabot/core/utils/_internal_utils.py"
  # Docs
  - docs/framework_utils.rst
  # Tests
  - tests/core/test_utils.py
"Category: Core - Bot Class":
  # Source
  - workabot/core/bot.py
  # Docs
  - docs/framework_apikeys.rst
  - docs/framework_bot.rst
"Category: Core - Bot Commands":
  # Source
  - redbot/core/core_commands.py
  - redbot/core/_diagnoser.py
  # Docs
  - docs/.resources/cog_manager_ui/**/*
  - docs/cog_guides/cog_manager_ui.rst
  - docs/cog_guides/core.rst
"Category: Core - Command-line Interfaces":
  - workabot/__main__.py
  - workabot/logging.py
  - workabot/core/_cli.py
  - workabot/core/_debuginfo.py
  - workabot/setup.py
"Category: Core - Help":
  - workabot/core/commands/help.py
"Category: Core - i18n":
  # Source
  - workabot/core/i18n.py
  # Locale files
  - workabot/**/locales/*
  # Docs
  - docs/framework_i18n.rst
"Category: Core - Modlog":
  # Source
  - workabot/core/generic_casetypes.py
  - workabot/core/modlog.py
  # Docs
  - docs/framework_modlog.rst
"Category: Core - Other Internals":
  # Source
  - workabot/core/_cog_manager.py
  - workabot/core/_events.py
  - workabot/core/_global_checks.py
  - workabot/core/_settings_caches.py
  - workabot/core/_sharedlibdeprecation.py
  - workabot/core/utils/_internal_utils.py
  # Tests
  - workabot/pytest/__init__.py
  - workabot/pytest/cog_manager.py
  - workabot/pytest/core.py
  - workabot/core/test_installation.py
"Category: Core - RPC/ZMQ":
  # Source
  - workabot/core/_rpc.py
  # Docs
  - docs/framework_rpc.rst
  # Tests
  - redbot/pytest/rpc.py
  - tests/core/test_rpc.py
  - tests/rpc_test.html


"Category: Docker": []  # potential future feature


"Category: Docs - Changelogs":
  - CHANGES.rst
  - docs/changelog.rst
  - docs/incompatible_changes/**/*
"Category: Docs - For Developers":
  - docs/framework_events.rst
  - docs/guide_cog_creation.rst
  - docs/guide_cog_creators.rst
  - docs/guide_migration.rst
  - docs/guide_publish_cogs.rst
  - docs/guide_slash_and_interactions.rst
"Category: Docs - Install Guides":
  - docs/about_venv.rst
  - docs/autostart_*.rst
  - docs/.resources/bot-guide/**/*
  - docs/bot_application_guide.rst
  - docs/install_guides/**/*
  - docs/update_worka.rst
"Category: Docs - Other":
  - docs/host-list.rst
  - docs/index.rst
  - docs/version_guarantees.rst
  - README.md
"Category: Docs - User Guides":
  - docs/getting_started.rst
  - docs/intents.rst
  - docs/worka_core_data_statement.rst
  # TODO: move these to `docs/.resources/getting_started` subfolder
  - docs/.resources/worka-console.png
  - docs/.resources/code-grant.png
  - docs/.resources/instances-ssh-button.png
  - docs/.resources/ssh-output.png


"Category: Meta":
  # top-level files
  - any:
      - '*'
      - '!README.md'
      - '!CHANGES.rst'
  # .gitattributes files
  - '**/.gitattributes'
  # GitHub configuration files, with the exception of CI configuration
  - .github/*
  - .github/ISSUE_TEMPLATE/*
  - .github/PULL_REQUEST_TEMPLATE/*
  # documentation configuration, extensions, scripts, templates, etc.
  - docs/conf.py
  - docs/_ext/**/*
  - docs/_html/**/*
  - docs/make.bat
  - docs/Makefile
  - docs/prolog.txt
  - docs/_templates/**/*
  # empty file
  - workabot/cogs/__init__.py
  # py.typed file
  - workabot/py.typed
  # requirements files
  - requirements/*
  # schema files
  - schema/*
  # tests configuration, global fixtures, etc.
  - tests/conftest.py
  - tests/__init__.py
  - tests/*/__init__.py
  # repository tools
  - tools/*


# "Category: RPC/ZMQ methods": []  # can't be matched by file patterns


"Category: Vendored Packages":
  - redbot/vendored/**/*
